@{
    ViewData["Title"] = "Comida";
}

<h2>@ViewData["Title"]</h2>
<p>¡Tus antojos favoritos solo en The Other Side! 🍔🍕</p>

<div class="container my-5">
    <div class="row g-4">

        <!-- Producto 1 -cheetos-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/comida1.png" class="card-img-top img-front" alt="Cheetos">
                    <img src="~/img/comidafondo1.png" class="card-img-top img-back" alt="Cheetos">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Cheetos Crunchy Limon 300 gr</h5>
                    <p class="card-text">$129.00</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/producto2-front.jpg" class="card-img-top img-front" alt="Producto 2">
                    <img src="~/img/producto2-back.jpg" class="card-img-top img-back" alt="Producto 2">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">$899.00</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

    </div>
</div>

