@{
    ViewData["Title"] = "Inicio";
}

<div class="container my-5">
    <div class="row g-3 justify-content-center">
        <div class="col-12 col-md-6">
            <a asp-area="" asp-controller="Home" asp-action="Mujer" class="menu_imagen d-block text-decoration-none">
                <div class="card bg-dark text-white">
                    <img src="~/img/mujer/mujerfondo.jpeg" class="card-img" alt="Mujer">
                    <div class="card-img-overlay d-flex align-items-end">
                        <h3 class="card-title">Mujer</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a asp-area="" asp-controller="Home" asp-action="Hombres" class="menu_imagen d-block text-decoration-none">
                <div class="card bg-dark text-white">
                    <img src="~/img/hombre/hombresfondo.jpeg" class="card-img" alt="Hombre">
                    <div class="card-img-overlay d-flex align-items-end">
                        <h3 class="card-title">Hombre</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a asp-area="" asp-controller="Home" asp-action="Accesorios" class="menu_imagen d-block text-decoration-none">
                <div class="card bg-dark text-white">
                    <img src="~/img/kids/kidsfondo2.jpg" class="card-img" alt="Accesorios">
                    <div class="card-img-overlay d-flex align-items-end">
                        <h3 class="card-title">Accesorios</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a asp-area="" asp-controller="Home" asp-action="Comida" class="menu_imagen d-block text-decoration-none">
                <div class="card bg-dark text-white">
                    <img src="~/img/comida/comidafondo.jpg" class="card-img" alt="Comida">
                    <div class="card-img-overlay d-flex align-items-end">
                        <h3 class="card-title">Comida</h3>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>



<!-- lo de las imagenes pasando  -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Conoce nuestros best sellers </h2>

    <div id="productosimagenes" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#productosimagenes" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#productosimagenes" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#productosimagenes" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">

            <!-- Producto 1 -->
            <div class="carousel-item active">
                <a asp-controller="Home" asp-action="Producto1Mujer">
                    <img src="~/img/mujer/elf2.png" class="d-block w-50 mx-auto" alt="Producto 1">
                </a>
                    
                <div class="carousel-caption d-none d-md-block texto-carrusel">
                    <h5>$299</h5>
                    <p>Elf Jelly Pop Glow Reviver Lip Oil</p>
                    <a href="https://ejemplo.com/producto1" class="btn btn-primary">Comprar</a>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="carousel-item">
                <a asp-controller="Home" asp-action="Producto1Mujer">
                    <img src="~/img/mujer/producto2rhode.png" class="d-block w-50 mx-auto" alt="Producto 2">
                </a>
                <div class="carousel-caption d-none d-md-block texto-carrusel">
                    <h5>$599</h5>
                    <p>Rhode Peptide Lip Treatment Strawberry Glaze </p>
                    <a href="https://ejemplo.com/producto2" class="btn btn-primary">Comprar</a>
                </div>
            </div>

            <!-- Producto 3 -->
            <div class="carousel-item">
                <a asp-controller="Home" asp-action="Producto1Mujer">
                    <img src="~/img/mujer/producto5tommy.png" class="d-block w-50 mx-auto" alt="Producto 3">
                </a>
                <div class="carousel-caption d-none d-md-block texto-carrusel">
                    <h5>$1099</h5>
                    <p>Bolsa Tommy Hilfiger Shoulder Bag Color Negro</p>
                    <a href="https://ejemplo.com/producto3" class="btn btn-primary">Comprar</a>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#productosimagenes" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productosimagenes" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>
</div>
