@{
    ViewData["Title"] = "Mujer";
}

<h2>@ViewData["Title"]</h2>
<p>Aquí van los productos de mujer🎤✨</p>

<div class="container my-5">
    <div class="row g-4">

        <!-- Producto 1- Perfume -->
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/productomujer7.png" class="card-img-top img-front" alt="Good Girl Blush">
                    <img src="~/img/goodgirl1.png" class="card-img-top img-back" alt="Good Girl Blush">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Good Girl Blush 100 ml</h5>
                    <p class="card-text">$2150.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <!-- Producto 2 - Elf Oil-->
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/productomujer1.png" class="card-img-top img-front" alt="Elf">
                    <img src="~/img/elfoil1.png" class="card-img-top img-back" alt="Elf">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Elf Jelly Pop Glow Reviver Lip Oil</h5>
                    <p class="card-text">$299.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <!-- Producto 3 - Rhode Lip Treatment-->
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer2.png" class="card-img-top img-front" alt="Rhode">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Rhode Lip Treatment</h5>
                    <p class="card-text">$299.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

    </div>
</div>

