@{
    ViewData["Title"] = "Mujer";
}

<h2>@ViewData["Title"]</h2>
<p>Aquí van los productos de mujer🎤✨</p>

<div class="container my-5">
    <div class="row g-4">

        <!-- Producto 1- Perfume -->
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer7.png" class="card-img-top img-front" alt="Good Girl Blush">
                    <img src="~/img/mujer/goodgirl7.png" class="card-img-top img-back" alt="Good Girl Blush">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Good Girl Blush 100 ml</h5>
                    <p class="card-text">$2150.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <!-- Producto 2 - Elf Oil-->
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer1.png" class="card-img-top img-front" alt="Elf">
                    <img src="~/img/mujer/elfoil2.png" class="card-img-top img-back" alt="Elf">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Elf Jelly Pop Glow Reviver Lip Oil</h5>
                    <p class="card-text">$299.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <!-- Producto 3 - Rhode Lip Treatment-->
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer2.png" class="card-img-top img-front" alt="Rhode">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Rhode Lip Treatment</h5>
                    <p class="card-text">$299.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer3.png" class="card-img-top img-front" alt="Tommy Hilfiger ">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Bolsa Tommy Hilfiger Crossbody Color Azul</h5>
                    <p class="card-text">$1099.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer4.png" class="card-img-top img-front" alt="Coach ">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Bolsa Coach Klare Crossbody Signature  </h5>
                    <p class="card-text">$2300.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer5.png" class="card-img-top img-front" alt="Bevelyn ">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Bolsa Bevelyn Steve Madden </h5>
                    <p class="card-text">$1199.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer6.png" class="card-img-top img-front" alt="Ariana ">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Perfume Ariana Grande Cloud 100ml</h5>
                    <p class="card-text">$1938.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer8.png" class="card-img-top img-front" alt="Rare Beauty ">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="Kit Rare Beauty x Tajín"</h5>
                    <p class="card-text">$699.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card product-card">
                <div class="image-container">
                    <img src="~/img/mujer/productomujer9.png" class="card-img-top img-front" alt="rem beauty ">
                    <img src="~/img/mujer/rhode2.png" class="card-img-top img-back" alt="Rhode">
                </div>
                <div class="card-body text-center">
                    <h5 class="Blush rem beauty hypernova satin matte pinking of u "</h5>
                    <p class="card-text">$699.00</p>
                    <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                    <a href="#" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>

    </div>
</div>

