<div class="offcanvas offcanvas-end" tabindex="-1" id="cartCanvas" aria-labelledby="cartCanvasLabel" style="width:700px; max-width:95vw;">
    <div class="offcanvas-header">
        <h5 id="cartCanvasLabel">Tu carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="cartBody" style="overflow-y:auto;">
        <div class="text-muted">Cargando...</div>
    </div>
</div>

